<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <h1>Add a Cricketer</h1>
                    <form role="form" autocomplete="off">
                        <div class="form-group">
                            <label for="firstName" class="sr-only">First Name</label>
                            <input type="text" [(ngModel)]="firstName" name="firstName" id="firstName" class="form-control" placeholder="FirstName" #first>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="sr-only">Last Name</label>
                            <input type="text" [(ngModel)]="lastName" name="lastName" id="lastName" class="form-control" placeholder="LastName" #last>
                        </div>
                        <div class="form-group">
                            <label for="favShot" class="sr-only">Fav Shot</label>
                            <input type="text" [(ngModel)]="favShot" name="favShot" id="favbeverages" class="form-control" placeholder="Favorite Shot"
                                #shot>
                        </div>
                            <div>
                        <select class="txt-box" name="playerType" [(ngModel)]="playerTypes" class="form-control" #batBow>
                            <option [value]="playerTypes" [disabled]="true">Select Option </option>
                            <option *ngFor="let player of playerType" [ngValue]="player.type">
                                {{player.type}}
                            </option>
                         </select>
                            </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Add" (click)="addCricketer(firstName,lastName,favShot)">
                    </form>
                    <hr>
                </div>
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<hr/>
<div *ngIf="cricketersArray.length > 0">
    <app-cricketers-list [criketerDetail]="cricketersArray"></app-cricketers-list>
</div>
